
div.snow_background
    +bg_primary (to bottom, $secondary, #ddd6f3)
    padding-top: 4rem

.header
    display: block
    margin: auto
    
    h1
        font-family: sans-serif
        margin-bottom: 20px
      
        
    p
        font-family: sans-serif
        font-size: 20px



.custom_fab
    font-size: 50px
    color: #3b5998
    
    &:hover
        
        color: white     
        
.circle_color   
    position: absolute
    display: flexbox
    height: 30px
    width: 30px
    background-color: black
    margin-left: 5px
    margin-bottom: 10px
    border-radius: 100px
    transform: translateY(-3px)
    .fas
       
        margin: auto
        font-size:  20px
        margin-top: 4px

.phone_logo
    color: white
    margin-top: 6px

.number_button
    background-color: #3b5998
    border: none
    font-family: sans-serif
    font-weight: 600
    padding: 10px 50px 10px 10px   
    display: block
    color: white
    &:hover
        +bg_primary (to right , #9bcfea, #a3d0ec) 
        .circle_color
            color: white
            background-color: white
        .phone_logo
            color: black
    
        
            


    




.carousel-item
    width: 500px
    @media (max-width: 750px)
    width: 100%
        
        
.header
    padding-bottom: 50px
    
    
        
.embed-responsive-item
    width: 500px
    height: 500px

.carousel_border
    border-radius: 10px


////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////

@media (max-width: 670px)
    .col_padding
        padding-left: 155px!important
    
    @media (max-width: 550px)
        .col_padding
            padding-left: 80px!important
            


        













/////////////// SHOP PAGE /////////////////////////////
.text_center 
    text-align: center
    
.col_padding
    padding-bottom: 7rem
      
.background_image_card
    +bg_primary (to bottom, #91cfea,#A9F1DF)

.card_item
    border: none
    +shadow_custom()
    margin-top: 3rem
.shop_card
    +bg_primary (to bottom, #A9F1DF, #dad5f2)
.items
    width: 20rem
    padding-top: 3rem
    padding-left: 3rem

.snow_background_shop
    padding-bottom: 5rem
    
.shadow_items
    box-shadow: -4px 2px 26px 33px rgba(0,0,0,0.46) inset
    -webkit-box-shadow: -4px 2px 26px 33px rgba(0,0,0,0.46) inset
    -moz-box-shadow: -4px 2px 26px 33px rgba(0,0,0,0.46) inset
    border: none


    

    